@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
}

/* colors */
:root{
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --slate-blue:hsl(252, 100%, 67%);
    --royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue:  hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --grayish-blue: hsl(224, 30%, 27%);
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#card{
    display: flex;
    text-align: center;
    width: 40vw;
}

#leftCard{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    flex-basis: 50%;
    border-radius: 15px;
    padding: 20px;
  
}

#leftCard .yourResult{
    color: var(--Light-lavender);
    margin-bottom: 1rem;
}

#leftCard .resultBox{
    background: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;   
}

#leftCard .resultBox h4{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 800;
}

#leftCard .resultBox span{
    color: var(--Light-lavender);
    font-weight: 500;
    font-size: 13px;
}

.bottom-text h4{
    color: var(--Light-lavender);
    margin: 15px 0px;
    font-size: 1.3rem;
    font-weight: 800;
}

.bottom-text p{
    color: var(--Light-lavender);
    margin-bottom: 15px;
}


#rightCard{
    background-color: #fff;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    flex-basis: 50%;
    padding: 20px;
    border: 1px solid grey;
}

#rightCard h4{
    text-align: left;
    color: var(--grayish-blue);
    margin-bottom: 10px;
}

.score{
    padding-top: 10px;
}

.scoreReaction, .scoreMemory, .scoreVerbal, .scoreVisual{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.scoreReaction .leftStat span, .scoreMemory .leftStat span, .scoreVerbal .leftStat span, .scoreVisual .leftStat span{
    font-size: 15px;
}

.scoreReaction{
    background-color: hsla(0, 100%, 67%, 0.1); 
}

.scoreReaction .leftStat span{
    color: hsl(0, 100%, 67%);
}

.scoreReaction .grey-text{
    color: var(--grayish-blue)
}

.scoreReaction .light-text{
    color: var(--Light-lavender);
}

.scoreMemory{
    background-color: hsla(39, 100%, 56%, 0.2);
   
}

.scoreMemory  .leftStat span{
    color:hsl(39, 100%, 56%);
}

.scoreReaction .grey-text, .scoreMemory .grey-text, .scoreVerbal .grey-text, .scoreVisual .grey-text{
    color: var(--grayish-blue)
}

.scoreReaction .light-text, .scoreMemory .light-text, .scoreVerbal .light-text, .scoreVisual .light-text{
    color: var(--Light-lavender);
}


.scoreVerbal{
    background-color: hsla(166, 100%, 37%, 0.2);
}

.scoreVerbal  .leftStat span{
    color:hsl(166, 100%, 37%);
}


.scoreVerbal .grey-text{
    color: var(--grayish-blue)
}

.scoreVerbal .light-text{
    color: var(--Light-lavender);
}

.scoreVisual{
    background-color:  hsla(234, 85%, 45%, 0.1);
}

.scoreVisual  .leftStat span{
    color: hsl(234, 85%, 45%);
}


.scoreVisual .grey-text{
    color: var(--grayish-blue)
}

.scoreVisual .light-text{
    color: var(--Light-lavender);
}

.btn{
    width: 100%;
    margin-top: 3rem;
    background-color: var(--grayish-blue);
    border-radius: 20px;
    padding: 7px;
    color: #fff;
}

.btn:hover{
    background-color: var(--royal-blue);
    color: #fff;
}


/* Responsive styles */

@media(max-width: 576px){
    #container{
        width: 100vw;
    }
    
    #card{
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    /* left card section */
    #leftCard{
        border-radius: 0px 0px 50px 50px;
        padding: 20px;
        flex-basis: 100%;
    }
    
    #leftCard .yourResult{
        font-size: 1rem;
    }
    
    #leftCard .resultBox{
        height: 170px;
        width: 170px;
    }
    
    #leftCard .resultBox h4{
        font-size: 3rem;
    }
    
    #leftCard .resultBox span{
        font-size: 12px;
    }
    
    .bottom-text h4{
        font-size: 1.1rem;
    }
    
    .bottom-text p{
        font-size: 15px;
    }
    
    /* right card section  */
    
    #rightCard{
        flex-basis: 100%;
        padding: 25px
    }
    
    #rightCard h4{
        font-size: 1rem;
        margin-bottom: 15px;
    }
    
    .scoreReaction, .scoreMemory, .scoreVerbal, .scoreVisual{
        border-radius: 5px;
        padding: 5px;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .scoreReaction .leftStat span, .scoreMemory .leftStat span, .scoreVerbal .leftStat span, .scoreVisual .leftStat span{
        font-size: 13px;
    }
    
    .scoreReaction .grey-text, .scoreMemory .grey-text, .scoreVerbal .grey-text, .scoreVisual .grey-text{
        font-size: 13px;
    }
    
    .scoreReaction .light-text, .scoreMemory .light-text, .scoreVerbal .light-text, .scoreVisual .light-text{
        font-size: 13px;
    }
    
    .btn{
        border-radius: 20px;
        padding: 7px;
        font-size: 15px;
    }    

}



/* responsive styles for devices btw 576px and 768px */

@media(min-width: 576px) and (max-width: 768px){
    #container{
        width: 100vw;
    }
    
    #card{
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }
    /* left card section */
    #leftCard{
        border-radius: 20px;
        padding: 25px;
        flex-basis: 50%;
    }
    
    #leftCard .yourResult{
        font-size: 1rem;
    }
    
    #leftCard .resultBox{
        height: 180px;
        width: 180px;
    }
    
    #leftCard .resultBox h4{
        font-size: 3.5rem;
    }
    
    #leftCard .resultBox span{
        font-size: 15px;
    }
    
    .bottom-text h4{
        font-size: 25px;
    }
    
    .bottom-text p{
        font-size: 15px;
    }
    
    /* right card section  */
    
    #rightCard{
        flex-basis: 50%;
        padding: 30px
    }
    
    #rightCard h4{
        font-size: 1rem;
    }
    
    .scoreReaction, .scoreMemory, .scoreVerbal, .scoreVisual{
        border-radius: 5px;
        padding: 3px;
        width: 100%;
        margin-bottom: 15px;
    }
    
    .scoreReaction .leftStat span, .scoreMemory .leftStat span, .scoreVerbal .leftStat span, .scoreVisual .leftStat span{
        font-size: 16px;
    }
    
    .scoreReaction .grey-text, .scoreMemory .grey-text, .scoreVerbal .grey-text, .scoreVisual .grey-text{
        font-size: 16px;
    }
    
    .scoreReaction .light-text, .scoreMemory .light-text, .scoreVerbal .light-text, .scoreVisual .light-text{
        font-size: 16px;
    }
    
    .btn{
        border-radius: 20px;
        padding: 10px;
        font-size: 15px;
    }    

}

/* responsive styles for devices btw 768px and 102ppx */
